@typeparam TItem
@code
{
    [Parameter]
    public IEnumerable<TItem> Items { get; set; } = Enumerable.Empty<TItem>();            
}
<table>
    <thead>
        <DataTableHeader TItem="TItem" />
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <DataTableRow Item="item" />
        }
    </tbody>
</table>