@typeparam TItem
@code
{
    private string[] columnNames = Array.Empty<string>();

    [Parameter]
    public bool EnableNew { get; set; }

    [Parameter]
    public EventCallback OnAddNewClicked { get; set; }

    protected override void OnInitialized()
    {
        columnNames = GridHelpers
            .GetGridColumns<TItem>()
            .Select(x => x.Name)
            .ToArray();
    }
}
<tr>
    @if(EnableNew)
    {
        <th>
            <button class="addnew" @onclick="OnAddNewClicked">Add New</button>
        </th>
    }

    @foreach (var name in columnNames)
    {
        <th>@name</th>
    }
</tr>