@typeparam TItem
@code
{
    [Parameter]
    public TItem Item { get; set; }    

    private static Func<TItem, IEnumerable<(string Name, object? Value)>> GetItemData =
        item => GridHelpers
            .GetGridColumns<TItem>()
            .Select(x => (x.Name, x.GetValue(item)));
}
<tr>
    @foreach (var data in GetItemData(Item))
    {
        <td @key=@data.Name>@data.Value</td>
    }
</tr>