@inherits TestContext
@* GridTest.razor *@
@code 
{
    [Fact]
    public void Grid_Renders_Basic_Table_With_Head_And_Body()
    {
        // Remove <GridHeader> from DOM tree, not important for this test.
        // ComponentFactories.UseDummyFor<GridHeader>();

        // Render the <Grid> component, TValue is unimportant for this test, so pick
        var cut = Render(@<Grid TItem="object" />);

        // Assert table with head and body
        cut.MarkupMatches(
            @<table>
                <thead><tr diff:ignore></tr></thead>
                <tbody></tbody>
            </table>);
    }

    [Fact]
    public void Grid_Uses_GridHeader_To_Render_Table_Head()
    {
        // Render the <Grid> component, TValue is unimportant for this test, so pick
        var cut = Render(@<Grid TItem="object" />);

        // Find the <GridHeader> component in the render tree
        // and assert that its content matches first row in thead.
        var gridHeader = cut.FindComponent<GridHeader<object>>();
        cut.Find("thead")
            .ChildNodes
            .MarkupMatches(gridHeader);
    }

    [Theory, AutoData]
    public void Grid_Uses_GridRow_To_Render_Table_Row(
        IEnumerable<WeatherForecast> items)
    {
        var cut = Render(@<Grid Items="items" />);

        var gridRows = cut.FindComponents<GridRow<WeatherForecast>>();
        gridRows.Select(x => x.Instance.Item)
            .Should()
            .BeEquivalentTo(items);
    }

    [Fact]
    public void When_EnableNew_Is_True_GridHeader_Show_Add_Command_Is_Set_To_True()
    {
        var cut = Render(@<Grid TItem="object" EnableNew="true" />);

        cut.FindComponent<GridHeader<object>>()
            .Instance
            .EnableNew
            .Should()
            .BeTrue();
    }
 
    [Fact]
    public void When_GridHeader_OnAddNewClicked_Empty_EditRow_Is_Rendered_In_Table_Body()
    {
        var cut = Render(@<Grid TItem="object" EnableNew="true" />);

        // We can do either an event triggering through
        // the DOM...
        cut.Find("button.addnew").Click();
        // or by invoking the OnAddNewClicked callback
        // directly on the component. 
        // cut.InvokeAsync(() => cut.FindComponent<GridHeader<object>>()
        //     .Instance
        //     .OnAddNewClicked
        //     .InvokeAsync());

        var editRow = cut.FindComponent<EditRow<object>>();
        cut.Find("tbody")
            .ChildNodes
            .MarkupMatches(editRow);
    }
}