@inherits TestContext
@* GridHeaderTest.razor *@
@code 
{
    [Fact]
    public void GridHeader_Renders_No_Columns_When_TItem_Has_No_Public_Properties()
    {
        var cut = Render(@<GridHeader TItem="object" />);
        
        cut.MarkupMatches(@<tr></tr>);
    }

    [Fact]
    public void GridHeader_Renders_Columns_Based_On_Public_Instance_Properties_Of_TItem()
    {
        var cut = Render(@<GridHeader TItem="WeatherForecast" />);

        cut.MarkupMatches(
            @<tr>
                <th>Date</th>
                <th>TemperatureC</th>
                <th>TemperatureF</th>
                <th>Summary</th>
            </tr>);
    }

    [Fact]
    public void When_EnableNew_Is_True_AddNew_Button_Is_Added_In_Command_Column()
    {
        var cut = Render(@<GridHeader TItem="object" EnableNew="true" />);
        
        cut.MarkupMatches(
            @<tr>
                <th>
                    <button class="addnew">Add New</button>
                </th>
            </tr>);
    }

    [Fact]
    public void Clicking_AddNew_Button_Raises_OnAddNewClicked()
    {
        var addNewClicked = false;

        var cut = Render(@<GridHeader TItem="object" 
                                      EnableNew="true"
                                      OnAddNewClicked="() => addNewClicked = true" />);
        
        cut.Find("button.addnew").Click();

        addNewClicked.Should().BeTrue();
    }    
}